<body>
    <div>
        <table border="1" align="center">
            <caption>用户列表</caption>
            <thead>
                <tr>
                    <th>订阅状态</th>
                    <th>用户编号</th>
                    <th>用户昵称</th>
                    <th>性别</th>
                    <th>语言</th>
                    <th>城市</th>
                    <th>省份</th>
                    <th>国家</th>
                    <th>subscribe_time</th>
                    <th>用户状态</th>
                    <th>客服编号</th>
                </tr>
            </thead>
            <tbody>

                <% for(var i = 0 ;i < Users.length; i++){ %>
                    <tr>
                        <td>
                            <% switch( Users[i].subscribe ){
                        case 0:%>未订阅
                                <% break;
                        case 1:%>已订阅
                                    <% break;
                        default:%>未知状态
                                        <% break;
                    } %>
                        </td>
                        <td>
                            <%= Users[i].openid %>
                        </td>
                        <td>
                            <%= Users[i].nickname %>
                        </td>
                        <td>
                            <% switch(Users[i].sex){
                        case 0: %>未知
                                <% break;
                        case 1: %>男
                                    <% break;
                        case 2: %>女
                                        <% break;
                        default: %>不详
                                            <% break;
                    } %>
                        </td>
                        <td>
                            <%= Users[i].language %>
                        </td>
                        <td>
                            <%= Users[i].city %>
                        </td>
                        <td>
                            <%= Users[i].province %>
                        </td>
                        <td>
                            <%= Users[i].country %>
                        </td>
                        <td>
                            <%= Users[i].subscribe_time %>
                        </td>
                        <td>
                            <a href="/admin/user/setUserStatus?openid=<%= Users[i].openid %>">
                                <% switch(Users[i].status){
                        case 0: %>等待客服
                                    <% break;
                        case 1: %>客服接待
                                        <% break;
                        default: %>服务结束
                                            <% break;
                    } %>
                            </a>
                        </td>
                        <td>
                            <%= Users[i].mgrOpenid %>
                        </td>
                        <% } %>
            </tbody>
        </table>
    </div>
</body>