<body>
    <div>
        <table border="1" align="center">
            <caption>用户信息</caption>
            <thead>
                <tr>
                    <th>订阅状态</th>
                    <th>openid</th>
                    <th>用户名</th>
                    <th>性别</th>
                    <th>语言</th>
                    <th>城市</th>
                    <th>省份</th>
                    <th>国家</th>
                    <th>subscribe_time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <%= subscribe %>
                    </td>
                    <td>
                        <%= openid %>
                    </td>
                    <td>
                        <%= nickname %>
                    </td>
                    <td>
                        <%= sex %>
                    </td>
                    <td>
                        <%= language %>
                    </td>
                    <td>
                        <%= city %>
                    </td>
                    <td>
                        <%= province %>
                    </td>
                    <td>
                        <%= country %>
                    </td>
                    <td>
                        <%= subscribe_time %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>